body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: sans-serif;
}

#titleH1 {
    margin-bottom: 30px; /* Espacio entre el titulo y las tarjetas */
    color: #1c1c1c;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;       /* IMPORTANTE! Para que sea responsive */
    justify-content: center;
    align-items: stretch;  /* Hace que todas las tarjetas midan lo mismo de alto */
    padding: 40px; 
    gap: 20px;
    background-color: #e4e4e4;
    border: 2px solid #1c1c1c; /* Atajo para el borde */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye título, texto y botón */
    padding: 30px;         /* Un padding más equilibrado */
    width: 300px;          /* Ancho fijo para que sean iguales */
    background-color: #aaa;
    border-radius: 20px;
    border: 2px solid #1c1c1c;
    transition: transform 0.2s; /* Efecto suave para el hover */
}

.card:hover {
    transform: translateY(-5px); /* La tarjeta sube al pasar el mouse */
}
P{
    text-align: center;
}

button{
    PADDING: 5px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: #e4e4e4;
}

.card__image {
    width: 60px;       /* Controla el ancho */
    height: auto;      /* Mantiene la proporción */
    margin-bottom: auto; /* Separa la imagen del título (Box Model) */
}